/*
// .Pinout {
//   width: 500px;
// }

// .Pinout div.gpio {
//   position: relative;
//   width: 292px;
//   background: #5F8645;
//   min-height: 653px;
//   margin-right: 208px;
//   border-top-right-radius: 46px;
//   border-bottom-right-radius: 46px;
//   text-align: left;
// }
*/
/*
// .Pinout div.gpio::before,
// .Pinout div.gpio::after {
//   content: '';
//   display: block;
//   width: 28px;
//   height: 28px;
//   background: #FFFFFF;
//   border-radius: 50%;
//   border: 14px solid #F7DF84;
//   right: 19px;
//   top: 19px;
//   position: absolute;
// }

// .Pinout div.gpio::after {
//   top: auto;
//   bottom: 19px;
// }
*/
/*
// .Pinout .header {
//   width: 58px;
//   position: absolute;
//   left: 216px;
//   height: 493px;
//   background: #073642;
//   top: 80px;
// }
*/
/*
.Pinout .gpio ul {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 87px;
  list-style: none;
  left: 0px;
}

.Pinout .gpio .right {
  left:246px;
}

.Pinout .gpio .right li {
  text-indent:56px;
}
*/
/*

// .Pinout .gpio a {
//   display:block;
//   position:relative;
//   font-size:15px;
//   line-height:23px;
//   height:22px;
//   margin-bottom:2px;
// }

// .Pinout .gpio .right a {
//   color: #063541;
//   width: 250px;
//   border-top-left-radius: 13px;
//   border-bottom-left-radius: 13px;
// }

// .Pinout .gpio .left a {
//   width:244px;
//   border-top-right-radius:13px;
//   border-bottom-right-radius:13px;
//   text-indent: 10px;
//   color: #E9E5D2;
// }
*/
/*
.Pinout .gpio a:hover,
.Pinout .gpio .active a {
  background:rgb(245, 243, 237);
  color:#063541;
}

.Pinout .gpio .pin1 a:hover,
.Pinout .gpio .pin1.active a {border-radius:0;}

.Pinout .gpio li a small {font-size:11px;}
*/
/*
.Pinout .gpio .overlay-pin a {
    background:rgb(235, 230, 211);
    color:#063541;
}

.Pinout .gpio .overlay-pin a:hover {
    background:rgb(245, 243, 237);
    color:#063541;
}

.Pinout .gpio .overlay-power .phys {
    color:#FFFFFF;
    opacity:1;
}

.Pinout .gpio .overlay-power a {
    background:#073642;
    color:#FFFFFF;
}

.Pinout .gpio .overlay-ground .phys {
    background:#073642;
    color:#FFFFFF;
    opacity:1;
    position:absolute;
    top:0px;
    width:20px;
    height:22px;
    border-radius:11px;
    text-indent: 0px;
    line-height: 22px;
}

.Pinout .gpio .left .overlay-ground .phys {
    padding-right:32px;
    right:0;
}

.Pinout .gpio .right .overlay-ground .phys {
    padding-left:31px;
    left:0;
}


.Pinout .gpio .overlay-power a:hover {
    background:#268bd2;
}

.Pinout .gpio .overlay-ground a:hover .phys {
    background:#268bd2;
}

.Pinout .gpio li.overlay-ground span.pin {background:#073642;}

/*
article .pin-hover {cursor:help;}
article .pin-hover:hover {color:#880000;}
article img {max-width:100%;}

.Pinout .gpio ul li.hover-pin a,
.Pinout .gpio ul.left li.hover-pin a {
    color:#FFF;
    background:rgba(200,0,0,0.6);
}

*/



/*
// .Pinout .gpio .left .phys {
//     text-align: right;
//     left: auto;
//     right: 30px;
// }

// .Pinout .gpio .phys {
//     color: #073642;
//     font-size: 0.8em;
//     opacity: 0.8;
//     position: absolute;
//     left: 30px;
//     text-indent: 0;
// }
*/
